/*============================================
Basic Style
==============================================*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px; //设置行间距离
    margin-bottom: 100px; //设置body预留空白
}

/*============================================
Header Style
==============================================*/
#navigation {
    background-color: rgba(#101636, 0.2);
}

.navbar-default {
    margin: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    border-top: 1px solid #1ea78d;
    color: #fff;
}

.navbar-default .navbar-nav li a.current,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
    background-color: #1ea78d;
    border-top: 1px solid #32B0EE;
    color: #fff;
}
/*============================================
Slider Style
==============================================*/
.box {
    background-image: url("header.jpg"); //加载图像
    background-repeat: no-repeat; //背景图像将仅显示一次
    background-size: 100% 100%;
    padding-bottom: 300px;
    margin-bottom: 50px;

    .box-inner {
        background-color: rgba(250, 250, 250, 0.7);
        text-align: center;
        margin-top: 150px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}
//---------Content---------
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
/*============================================
Footer Style
==============================================*/
footer {
    position: absolute;
    bottom: 0; //定位后，设置元素下方为0,可使footer固定在下方
    background-color: #1ea78d;
    border-top: 5px solid #062033;
    color: #fff;
    height: 100px;
    width: 100%;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #062033;
}

.copyright {
    padding-top: 50px;
}
