/*============================================
Basic Style
==============================================*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px; //设置行间距离
    margin-bottom: 100px; //设置body预留空白
    padding-top: 50px;
}

.btn-submit {
    background: rgb(254, 231, 154);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}
/*============================================
Header Style
==============================================*/
#navigation {
    background-color: rgba(#101636, 0.2);
}

.navbar-default {
    margin: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-header a {
    color: #fff;
    font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
    border-top: 1px solid #1ea78d;
    color: #fff;
}

.navbar-default .navbar-nav li a.current,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
    background-color: #1ea78d;
    border-top: 1px solid #32B0EE;
    color: #fff;
}

.avatar img {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 50%;
    // padding: 0;
}

.dropdown .dropdown-toggle {
    padding: 0;
}
/*============================================
Slider Style
==============================================*/
.box {
    background-image: url("header.jpeg"); //加载图像
    background-repeat: no-repeat; //背景图像将仅显示一次
    background-size: 100% 100%;
    padding-bottom: 300px;
    margin-bottom: 50px;

    .box-inner {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 80px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}
/*============================================
Features Style
==============================================*/
.features {
    background-color: #f4f7f9;
    padding: 70px 0;
}

.service-item {
    &:hover {
        position: relative;
        top: -5px;
    }
}

.service-icon {
    border: 1px solid #0eb493;
    border-radius: 50%;
    color: #0eb493;
    float: left;
    padding: 10px 13px;
    position: relative;
}

.service-desc {
    margin-left: 70px;
    position: relative;
    top: 5px;
}

.service-desc h3 {
    color: #062033;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.service-desc p {
    color: #062033;
    font-size: 15px;
}

#facts {
    background-image: asset_data_url("city.jpg");
    background-color: rgba(6,32,51,.8);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.parallax-overlay {
    background-color: rgba(6,32,51,.8);
    padding: 70px 0;
}
/*============================================
Footer Style
==============================================*/
footer {
    position: absolute;
    bottom: 0; //定位后，设置元素下方为0,可使footer固定在下方
    background-color: #1ea78d;
    border-top: 5px solid #062033;
    color: #fff;
    height: 100px;
    width: 100%;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #062033;
}

.copyright {
    padding-top: 50px;
}
/*============================================
Sidebar Style
==============================================*/
.sidebar {
    max-width: 300px;
    padding-top: 20px;
}
/*============================================
Company Jobs Style
==============================================*/
.input-group-addon {
    width: 80px; //he first part sets the width of your addons
}

.input-group {
    width: 100%; //forces the inputs to take up all of their parent container.
    margin: 2px 0;
}
/*============================================
Show jobs Style
==============================================*/
.top-fixed-box {
    height: 125px;
    display: table;
    overflow: hidden;
    width: auto;
    margin: 0;
    z-index: 2;
    background: url("fixed-bg.png") repeat-x;
    position: relative;
}

.fixed-inner-box {
    height: 93px;
    display: table;
    width: 1130px;
    padding: 7px 15px;
    margin: 0 auto;
}

.showpage-left {
    width: 70%;
    padding: 8px 18px 20px;
    background-color: #fff;
    float: left;
}

.showpage-right {
    width: 30%;
    height: 100%;
    float: left;
    border-left: 1px solid #D8E6F8;
    background-color: #F4FAFF;
    padding: 5px 18px 20px;
}

.cateFixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}
/*============================================
pagination Style
==============================================*/
.pagination {
    a,
    em,
    span {
        float: left;
        padding: 0 10px;
        border: 1px solid #d3dce6;
        background: #fff;
        font-size: 13px;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;

        &:hover {
            text-decoration: none;
        }

        &.current {
            font-style: normal;
            border-color: #20a0ff;
            background-color: #20a0ff;
            color: #fff;
            cursor: default;
        }
    }
}
