<ul class="nav nav-pills nav-stacked sidebar">
  <li class="active"><%= link_to(t("companyJobsList"), company_jobs_path) %></li>
  <li><%= link_to(t("companyDesc"), company_enterprises_path) %></li>
  <li><%= link_to(t("companyJobsList"), company_jobs_path) %></li>
</ul>
