<footer id="footer" class="footer">
  <div class="col-md-12">
    <p class="copyright text-center">
      Copyright © 2017
      <a href="/">KT offer</a>. All rights reserved. Designed & developed by
      <a href="/">Chenwy</a>
    </p>
  </div>
</footer>
